html, body { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  font-family: "Noto Sans CJK TC", sans-serif;
}
main {
  margin: 0 auto;
  padding: 16px;
  width: calc(100% - 40px);
  max-width: 800px;
}

.center {
  text-align: center;
}
.row {
  display: flex;
  margin: 4px auto;
}

.card {
  flex: 1;
  margin: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  border-radius: 2px;
}

.color ul {
  margin: 0;
  padding: 8px;
  list-style-type: none;
}
.color li {
  margin: 0;
  padding: 8px;
}
.color .nb {
  white-space: nowrap;
}

.light {
  background-color: #fff;
}
.dark {
  background-color: #212121;
}

.SITCON-Logo, .SITCON-Logo-withname {
}

.SITCON-green {
  background-color: #77B55A;
}
.white {
  background-color: #fff;
}

dl div {
  margin: 1em 0;
}
dt {
  font-size: 1.1rem;
  line-height: 2rem;
}
abbr {
  text-decoration: none;
}
